.landingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(91, 134, 186, 1) 100%
  );
}
.landingPage__button {
  margin: 0 20px !important;
}
.landingPage__signup {
  display: flex;
  flex-direction: column;
}
.landingPage__signup > Button {
  margin: 10px 0;
}
